@import './variables';
@import './global';
@import './fonts';

body {
  min-height: 100vh;
  color: var(--primary-color);
  margin-bottom: var(--size-vertical-inner-gap);
}

.wrapper {
  @apply max-w-6xl mx-auto w-full box-border p-0 px-2 sm:px-4 md:px-8;
}

em {
  @apply not-italic;
}

h2 {
  position: relative;
  font-size: var(--size-4);

  i {
    margin-right: calc(var(--spacing-1) / 2);

    @include query(calc(#{$max-width-column} + 6rem)) {
      position: absolute;
      left: calc(var(--size-4) * -2);
    }

    @include query($medium) {
      position: relative;
      left: 0;
    }

    @include query(calc(#{$max-width-page} + 6rem)) {
      position: absolute;
      left: calc(var(--size-4) * -2);
    }
  }
}

label h2 {
  margin-bottom: calc(var(--spacing-1) * 2);
}

.page-text {
  min-height: calc(11 * var(--size-4) * 1.5); // We want minimum 11 rows times the font size times the line height.
}

.page-text span {
  font-size: var(--size-4);
  line-height: 1.5;
  display: block;
}

.graph-text {
  font-size: var(--size-4);

  &.high {
    font-size: var(--size-3);
  }

  &.compact {
    font-size: var(--size-5);

    @include query($narrow) {
      font-size: var(--size-4);
    }
  }

  @include query($medium) {
    font-size: var(--size-3);

    &.compact {
      font-size: var(--size-4);
    }
  }
}

.button_title {
  font-size: var(--size-4);
  line-height: 1.2;

  @include query($medium) {
    font-size: var(--size-3);
  }
}

.button_title--small {
  font-size: var(--size-5);
  line-height: 1.2;

  @include query($medium) {
    font-size: var(--size-4);
  }
}

.tile small {
  font-size: var(--size-6);
}

.page-footer {
  font-size: var(--size-6);
}

.slider__range-label {
  font-size: var(--size-5);
}

p {
  max-width: 90ch;
  line-height: 1.5;
}

strong,
em,
.button_title,
.button_title--small {
  font-weight: var(--weight-bold);
}

strong {
  transition: color var(--transition);
  color: var(--color-accent);
}

.grid-half {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--size-vertical-outer-gap);
}

.grid-third {
  @apply w-full grid grid-cols-1 gap-x-8 gap-y-4 sm:grid-cols-2 sm:gap-x-4 sm:gap-y-4 md:grid-cols-3 md:gap-y-8;
}

.download-btn {
  font-size: var(--size-5);

  svg {
    width: var(--size-4);
  }
}

.column {
  max-width: $max-width-column;
  width: 100%;

  @include query($medium) {
    max-width: $max-width-page;
  }
}

.tippy-box {
  background-color: var(--primary-color) !important;
  font-size: var(--size-6) !important;

  .tippy-arrow {
    color: var(--primary-color);
  }
}

@import './tile';
